.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  
.main-bg{
  height: 300px;
  background-image: url('./bg.png');
  background-size: cover;
  background-position: center;
}
}
